@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700");
* {
  font-family: 'Titillium Web', sans-serif; }

button {
  border: none;
  outline: none; }

a:hover {
  text-decoration: none; }

.leaflet-left .leaflet-control {
  margin-left: 30px;
  margin-top: 154px; }

.leaflet-popup {
  left: -42px !important; }

.leaflet-popup-content {
  margin: 0; }

.leaflet-popup-close-button {
  display: none; }

.leaflet-popup-content-wrapper {
  border-radius: 0px; }

.leaflet-popup-tip-container {
  left: 12%; }

.marker-popup-content {
  display: flex;
  padding: 15px; }
  .marker-popup-content .marker-popup-info {
    margin-right: 15px; }
    .marker-popup-content .marker-popup-info h2 {
      margin: 0;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 800;
      font-size: 18px;
      color: #2e2925;
      line-height: 24px;
      margin-bottom: 2px; }
    .marker-popup-content .marker-popup-info p {
      margin: 0;
      font-family: 'Georgia';
      color: #aba9a8;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; }
    .marker-popup-content .marker-popup-info button {
      height: 30px;
      background: #ff00bf;
      border-radius: 2px;
      padding: 0 10px;
      color: #fff;
      font-size: 13px;
      font-weight: 700;
      font-family: 'Titillium Web'; }
  .marker-popup-content .marker-popupimage {
    width: 80px;
    height: 80px; }

.modal {
  background: rgba(46, 41, 37, 0.8); }

.modal-backdrop {
  background: none;
  pointer-events: none; }

.modal-content {
  border-radius: 2px;
  border: none;
  padding: 30px;
  width: 600px;
  margin: 0 auto;
  box-shadow: none; }

.modal-header {
  padding: 0;
  display: flex;
  border-bottom: none; }

.modal-body {
  padding: 0; }

.book-a-ride {
  background: #FD1EBF;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  padding: 0 10px;
  border-radius: 2px; }

.book-a-ride:hover {
  background: #e500ac; }

.brand-publisher {
  width: 100%;
  height: 60px;
  box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.1);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 401; }
  .brand-publisher .brand-publisher-text {
    color: #3E3E3B;
    font-weight: 600;
    letter-spacing: .05em;
    font-size: 12px;
    margin: 0; }

.bubble {
  position: relative;
  width: 300px;
  height: 120px;
  padding: 0px;
  background: red;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 14px;
  border-color: red transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -14px;
  left: 135px; }

.brand-publisher .dropdown-menu {
  width: 14%;
  width: 270px;
  padding: 15px;
  left: -129px; }
  .brand-publisher .dropdown-menu h5 {
    font-weight: 700;
    display: flex;
    margin: 0;
    margin-bottom: 10px;
    align-items: center; }
  .brand-publisher .dropdown-menu p {
    line-height: 22px; }

.brand-publisher .dropdown-menu:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 9px 14px;
  border-color: grey transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -14px;
  left: 126px; }

.info-svg {
  width: 15px;
  height: 15px; }

.brand-publisher .info-svg {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  cursor: pointer; }

.brand-publisher .lyft-logo {
  margin-left: 10px; }

.about-button-container .about-button {
  top: 90px;
  z-index: 401;
  position: absolute;
  left: 30px;
  background-color: #fc5158;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 13px;
  padding: 0 10px;
  outline: none;
  height: 44px; }

.about-button-container .about-button:hover {
  background: #ef4d54; }

.about-button-container #aboutModal .vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%; }

.about-button-container #aboutModal .vertical-align-center {
  display: table-cell;
  vertical-align: middle; }

.about-button-container #aboutModal .modal-header h4 {
  font-size: 28px;
  font-weight: 700;
  margin: 0; }

.about-button-container #aboutModal .modal-header i {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #d5d4d3; }

.about-button-container #aboutModal .modal-header i:hover {
  color: #c0bebd; }

.about-button-container #aboutModal .modal-body .brand-publisher-group {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eae9e9; }

.about-button-container #aboutModal .brand-publisher-group p {
  margin-right: 10px; }

.about-button-container #aboutModal .modal-body .modal-main-text {
  padding-top: 10px;
  line-height: 1.8em; }

.location-panel {
  position: absolute;
  z-index: 401;
  top: 90px;
  right: 30px;
  width: 560px;
  background: #FFF; }
  .location-panel .navigation {
    border: 1px solid #f5f5f5;
    height: 44px; }

.navigation .col-md-4 {
  padding: 0;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f5f5f5; }

.location-panel .navigation p {
  margin: 0;
  font-weight: 700;
  color: #2e2925;
  font-size: 13px; }

.location-panel .grid-list .col-md-3 {
  padding: 0;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .location-panel .grid-list .col-md-3 .logo-image-parent {
    background: #2e2925; }
    .location-panel .grid-list .col-md-3 .logo-image-parent img {
      display: block;
      width: 100%;
      height: 100%;
      outline: none; }
  .location-panel .grid-list .col-md-3 .logo-image-parent:hover img {
    opacity: .9; }
  .location-panel .grid-list .col-md-3 .modal {
    background: none; }

.location-holder {
  position: absolute;
  z-index: 403;
  top: 90px;
  right: 30px;
  width: 560px;
  background: #fff;
  height: 745px;
  overflow-y: scroll; }
  .location-holder .location-header {
    padding: 30px 25px;
    display: flex;
    justify-content: space-between; }
    .location-holder .location-header .location-header-info h5 {
      margin: 0;
      font-weight: 800;
      font-size: 28px;
      line-height: 34px;
      color: #2e2925; }
    .location-holder .location-header .location-header-info p {
      font-family: 'Georgia', serif;
      color: #aba9a8;
      font-size: 18px;
      line-height: 30px; }
    .location-holder .location-header .location-header-close i {
      cursor: pointer;
      color: #d5d4d3; }
    .location-holder .location-header .location-header-close i:hover {
      color: #c0bebd; }
  .location-holder .location-main {
    border-bottom: 1px solid #eae9e9; }
    .location-holder .location-main p {
      padding: 0 30px;
      font-family: 'Georgia', serif;
      color: #2e2925;
      font-size: 18px;
      line-height: 30px; }
    .location-holder .location-main .caption {
      padding: 10px 30px;
      font-size: 11px;
      font-weight: 400;
      color: #2e2925;
      line-height: 16px;
      font-family: 'Titillium Web', sans-serif;
      border-bottom: 1px solid #eae9e9; }
  .location-holder .location-footer {
    padding: 0 30px;
    margin-top: 15px; }
    .location-holder .location-footer .get-lyft {
      border-bottom: 1px solid #eae9e9; }
      .location-holder .location-footer .get-lyft p {
        font-size: 18px;
        font-weight: 800;
        font-family: 'Titillium Web', sans-serif; }
        .location-holder .location-footer .get-lyft p a {
          color: #FD1EBF;
          text-decoration: none; }
      .location-holder .location-footer .get-lyft button {
        height: 44px;
        margin-bottom: 15px; }
    .location-holder .location-footer .social-media-links {
      height: 61px;
      display: flex;
      align-items: center;
      color: #aba9a8; }
      .location-holder .location-footer .social-media-links .link {
        display: inline-flex;
        width: 15%;
        align-items: center;
        border-right: 1px solid #eae9e9;
        padding-left: 5px; }
        .location-holder .location-footer .social-media-links .link .fa {
          margin-right: 5px; }
        .location-holder .location-footer .social-media-links .link p {
          margin-bottom: 0;
          font-weight: 800;
          font-size: 11px; }

#map {
  height: 100%; }
