html
  include shared/head
  body(ng-app='entertainmentAtlas')
    header.brand-publisher
      .dropdown
        img.info-svg.dropdown-toggle(src='images/info.svg' data-toggle='dropdown')
        .dropdown-menu
          h5
            img.info-svg(src='images/info.svg')
            | What's this?
          p This content is presented by a DNAinfo advertiser; it was not produced by the editorial staff.
            a(href='#') &thinsp; Contact our sales team
            | &thinsp; to get your business in front of local consumers. More questions? Email &thinsp;
            a(href='#') info@dnainfo.com
      p.brand-publisher-text BRAND PUBLISHER:
      img.lyft-logo(src='images/Lyft_Logo.svg')
    .about-button-container
      button.about-button(data-toggle='modal' data-target='#aboutModal') About
      #aboutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='aboutModalLabel')
        .vertical-alignment-helper
          .modal-dialog.vertical-align-center(role='document')
            .modal-content
              .modal-header
                h4(id='aboutModalLabel') The Definitive Guide Entertainment Venues in Chicago
                i.fa.fa-times-circle-o.fa-2x(data-dismiss='modal')
              .modal-body
                .brand-publisher-group
                  p.brand-publisher-text BRAND PUBLISHER:
                  img(src='images/Lyft_Logo.svg')
                .modal-main-text
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .map-holder(ui-view='')