html
  include shared/head
  body(ng-app='entertainmentAtlas')
    header.brand-publisher
      .dropdown
        img.info-svg.dropdown-toggle(src='images/info.svg' data-toggle='dropdown')
        .dropdown-menu
          h5
            img.info-svg(src='images/info.svg')
            | What's this?
          p This content is presented by a DNAinfo advertiser; it was not produced by the editorial staff.
            a(href='#') &thinsp; Contact our sales team
            | &thinsp; to get your business in front of local consumers. More questions? Email &thinsp;
            a(href='#') info@dnainfo.com
      p.brand-publisher-text BRAND PUBLISHER:
      img.lyft-logo(src='images/Lyft_Logo.svg')
    .about-button-container
      button.about-button(data-toggle='modal' data-target='#aboutModal') About
      #aboutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='aboutModalLabel')
        .vertical-alignment-helper
          .modal-dialog.vertical-align-center(role='document')
            .modal-content
              .modal-header
                span.close(data-dismiss='modal')
                  img.close-location-modal(src='images/X_Circle_ICON2_BLACK.svg' ng-click='closeLocationModalAction()')
                h4(id='aboutModalLabel') Live Enterainment Atlas for Chicago
              .modal-body
                .brand-publisher-group
                  p.brand-publisher-text BRAND PUBLISHER:
                  img.lyft-logo(src='images/Lyft_Logo.svg')
                .modal-main-text
                  p The Midwest's greatest live music destination is filled with neighborhood theaters, juke joints and concert halls that are just a ride away. Pick a destination and call a Lyft.
    #bookARide.modal.fade(tabindex='-1' role='dialog' aria-labelledby='aboutModalLabel')
      .vertical-alignment-helper
        .modal-dialog.vertical-align-center(role='document')
          .modal-content
            .modal-header
              span.close(data-dismiss='modal')
                img.close-location-modal(src='images/X_Circle_ICON2_BLACK.svg' ng-click='closeLocationModalAction()')
              .brand-publisher-group
                h4(id='aboutModalLabel') Book A Ride with 
                img.lyft-logo(src='images/Lyft_Logo.svg')
            .modal-body
              .modal-main-text
                p 
    .map-holder(ui-view='')