base(href='/')
title Lyft: Entertainment Atlas
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css')
link(rel='stylesheet' href='css/app.css')

script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js')

script(src='js/app.js')