.location-panel
  .navigation
    .col-md-4
      p All Venues
    .col-md-4
      p Music Venues
    .col-md-4
      p Theater Venues
  .grid-list
    .col-md-3(ng-repeat='item in data')
      .logo-image-parent
        img(ng-src='https://editorial-chi.dnainfo.com/interactives/entertainment/img/{{item.gsx$image.$t}}' ng-click='openLocationModalAction(item)')
.location-holder(ng-show='openLocationModal')
  .location-header
    .location-header-info
      h5 {{locationItem.gsx$name.$t}}
      p {{locationItem.gsx$address.$t}}
    .location-header-close
      i.fa.fa-times-circle-o.fa-2x(ng-click='closeLocationModalAction()')
  .location-main
    .location-image(ng-bind-html='{{locationItem.gsx$story.$t}}')

#map
