.location-panel
  .navigation
    .col-md-4
      p All Venues
    .col-md-4
      p Music Venues
    .col-md-4
      p Theater Venues
  .grid-list
    .col-md-3(ng-repeat='item in data')
      .logo-image-parent
        img(src='images/corridor.jpg')
      #locationModal.modal(tab-index='-1' role='dialog' aria-labelledBy='locationModal')
        .modal-dialog(role='document')
          .location-header
            .location-header-info
              h5 {{item.gsx$name.$t}}
              p {{item.gsx$address.$t}}
.location-holder(ng-if='openLocationModal')
  p Yoo



#map
